@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "lilita-one";
    src: url(/LilitaOne-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "worksans-bold";
    src: url(/WorkSans-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "worksans-regular";
    src: url(/WorkSans-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "worksans-light";
    src: url(/WorkSans-Light.ttf) format("truetype");
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hide-scroll-bar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
